# See: https://git-scm.com/docs/gitignore
__pycache__/
projects/
/ngmt.egg-info

my_messy_code/mytestconde.py

/my_messy_code/*
ngmt/examples_gait_sqeuence.py

examples/data/exDataGSDA.mat

.vscode/

*.pyc
/site/*
/dist
/.venv

# local changelog generator
create_changelog.py
changelog.yml
