site_name: KielMotionAnalysisToolbox

extra_css:
  - 'style.css'

plugins:
- search
- mkdocs-jupyter
- mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [kielmat]
          options:
            verbose: True

theme:
  name: material
  logo: kielmat_logo_transBG.png
  language: en
  font:
    text: "Roboto"
    code: "Roboto Mono"
  palette:
    - scheme: default
      primary: light green
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple  # primary color for dark mode
      accent: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
        
  features:
    - navigation.tabs

nav:
  - Home: index.md
  - Examples: 
    - examples/index.md
    - Load data into KielMAT: examples/basic_01_load_Data_into_KielMAT.md
    - Load datasets: examples/basic_02_load_dataset.md
    - Events in dataclass: examples/basic_03_events.md
    - Gait Sequence Detection: examples/modules_04_gsd.md
    - Initial Contact Detection: examples/modules_05_icd.md
    - Physical Activity Monitoring: examples/modules_06_pam.md
    - Postural Transition Detection: examples/modules_07_ptd.md
    - Turn Detection: examples/modules_08_td.md
  - Dataclass: dataclass.md 
  - Modules: 
    - modules/index.md
    - Gait Sequence Detection: modules/gsd.md
    - Initial Contact Detection: modules/icd.md
    - Physical Activity Monitoring: modules/pam.md
    - Postural Transition Detection: modules/ptd.md
    - Turn Detection: modules/td.md
  - Datasets:
    - datasets/index.md
    - KeepControl: datasets/keepcontrol.md
    - Mobilise-D: datasets/mobilised.md
  - Utilities: 
    - utils/index.md
    - Data Preprocessing: utils/preprocessing.md
    - Data Import: utils/importers.md
    - Orientation Estimation: utils/orientation_estimation.md
  - FAQ / Troubleshooting: faq.md
  - Contributing: 
    - contributing.md

markdown_extensions:
- admonition
- pymdownx.details
- pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format

